Thank you for your contribution and analysis.

I know all test-suite cases because part of them are also present in this library in `#/tests/0`. Initially I was confused by some of them, then I realized they are wrong. Let's go case by case:

> KATAKANA MIDDLE DOT with Hiragana

IdnaBidiError: '・ぁ' breaks rule `#1`: label must start with L or R or AL (RFC 5893 §2.1)

> KATAKANA MIDDLE DOT with Katakana

IdnaBidiError: '・ァ' breaks rule `#1`: label must start with L or R or AL (RFC 5893 §2.1)

> KATAKANA MIDDLE DOT with Han

IdnaBidiError: '・丈' breaks rule `#1`: label must start with L or R or AL (RFC 5893 §2.1)

> Extended Arabic-Indic digits not mixed with Arabic-Indic digits

IdnaBidiError: '۰0' breaks rule `#1`: label must start with L or R or AL (RFC 5893 §2.1)

> single label starting with digit

IdnaBidiError: '1host' breaks rule `#1`: label must start with L or R or AL (RFC 5893 §2.1)

As you can see, they are valid without considering `bidi` rules, so for the test examples you need to add few chars that are feeding bidi needs, before or after. 



Thank you for the additional detail. I found it very informative. I was already pretty confident that you implemented the rules correctly, but I wondered if there was some reason those rules wouldn't apply for these tests. I think I found that reason. From RFC 5893,

> This document establishes additional validity criteria for labels in scripts normally written from right to left.
>
> _**This specification is not intended to place any requirements on domain names that do not contain characters from such scripts.**_

I believe that means the intention is that the BiDi rules only apply when there is at least one Right-to-Left character in the label. That's not the case in any of these tests, so I don't think the rules apply. I think that's what those other implementations are doing that behave differently but otherwise appear to implement the BiDi rules.

> So, the question is, are validators like this supposed to do mapping before validation? I would think the mapping would have to be the user's responsibility and the validator should only concern itself with the strict INDA2008 rules. Therefore, the tests are wrong. In the best case, they'd be optional.

100% the mapping must be done before the validation. The mappings are solving things that otherwise would require users to know them, the best example of this is the capitalization. In dns only lowercase letters are valid, so when the user tries to validate PAYPAL the validator sais is valid, but under the scene the actual test is for the mapped string which is paypal. The same thing happens when you try this in the browser's address bar, you write PAYPAL and when you hit enter the browser automatically converts it to the mapped version of it. And NFC normalized, that is another aspect that happens, which combines the diacritics (if for some reason are decomposed (e·́   instead of é). Also the mapping is making the whole process much faster and simpler, otherwise the possible combinations between unmapped chars would be huge, just imagine users trying pAypal ... paYpal ... so on. And, for this reason I exposed the idnHostname function which shows the actual version of a validated string, which shows the ascii version of the hostname validated, and I also exposed the punycode function that has toUnicode fn that allows converting the ascii converted version into unicode version back (if hostname has non-ascii chars in it).

Now, I don't know the RFC 5895 implications in the validation process, I must read it carefully, but the examples you gave doesn't seem related:

> U+002E ( . ) FULL STOP

this is the regular dot, which is literally the dns root, not a domain name, dots are only allowed to separate labels, not before, not after, and I didn't saw any spec saying that they are valid alone.

> U+FF0E ( ． ) FULLWIDTH FULL STOP
> U+3002 ( 。 ) IDEOGRAPHIC FULL STOP
> U+FF61 ( ｡ ) HALFWIDTH IDEOGRAPHIC FULL STOP

those are mapped to dot which is disallowd, and yet allowed by validator because the split by dot is performed before the mapping. I need to find a solution to that, because there is a requirement loop in there: I need the split to perform the label ACE label tests, and I can put the mapping only after that because the decoded ACE label may contain chars that need to be mapped, and yet... the above tests requires that mapping before the split. Let me see what I can do.


And a small clarification: the mapping itself is a validation part, better said the most important part of it. `Mapped` in the derived unicode idna table must be read as `allowed mapped`, otherwise disallowed.